html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: black;
    background-image: url("saboo6251.github.io/portfolio/blackhole.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    margin: 0;
    height: 100vh;
}

.greet {
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
}
.intro {
    color: #ffffff;
    font-family: "courier New", "Courier New", Courier, monospace;
}
