html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: #000000;
    background-image: url(https://github.com/saboo6251/portfolio/blob/main/linux-penguin-and-rainbow-background-imsv6hxt0e8zcl7m-3730406657.jpg);
}

.greet {
    color: #ffffff;
    font-family: "Courier New", Courier, monospace;
}
