* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
}

.hero-header {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
    padding: 10px;
}
.wrapper {
    width: 1280px;
    max-width: 95%;
    margin: 0, auto;
    padding: 0, 20px;
}
header {
    padding: 40px, 0, 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    height: 45px;
    width: 45px;
    background-color: #8f00fe;
    border-radius: 50%;
    color: black;
    font-weight: 700;
    font-size: 30px;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
}
.logo .logo-text {
    font-size: 24px;
    font-weight: 500;
    color: white;
}
/*nav .togglebtn {
    width: 30;
    height: 30;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    background-color: #007ced;
    display: none;
}
nav .togglebtn span {
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}*/
/*na .navlinks {
    list-style-type: none;
}
nav .navlinks li {
    display: inline-block;
}
nav .navlinks li a {
    color: #e5e5e5;
    margin-right: 2.5rem;
}*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}
.container .hero-pic {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}
.hero-pic img {
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.hero-pic img:hover {
    transform: scale(1.2);
}
.hero-text {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}
.hero-text h5 {
    color: #e5e5e5;
    font-size: 18px;
}
/*.hero-text h5 span {
    color: #007ced;
    font-size: 16px;
}*/
.hero-text h1 {
    color: #8f00fe;
    font-size: 3rem;
}
.hero-text p {
    color: #e5e5e5;
}
.btn-grp {
    margin: 45px 0;
}
.btn-grp .btn {
    border-color: #d5d5d5;
    color: #fff;
    background-color: #8f00fe;
    padding: 12px 25px;
    margin: 5px 0;
    border-radius: 30px;
    border: 2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 /78%);
}
.social {
    display: flex;
    gap: 20px;
}
/*.social a {
    background-color: white;
    padding: 0.5em;
    border-radius: 50%;
    transition: 0.3s;
    justify-content: center;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}*/
.social svg {
    height: 32px;
    transition: 0.3s;
    fill: #e5e5e5;
}
.social svg:hover {
    transform: scale(1.2);
    fill: var(--accent-color);
}

@media (max-width: 930px) {
    .container {
        flex-direction: column;
    }
    .container .hero-pic {
        height: 250px;
        width: 250px;
        border-radius: 50%;
        overflow: hidden;
        border: 15px solid #444;
        box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    }
    .social {
        justify-content: center;
    }
    .social a {
        padding: 0.5em;
    }
}
